In [67]:
import sys
sys.path.append("../src/data")

In [68]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sadiq\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sadiq\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\sadiq\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.2.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\sadiq\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sadiq\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sadiq\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: C:\Users\sadiq\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [69]:
import pandas as pd

In [70]:
# Update the path to the correct location of your CSV file

df_restaurants = pd.read_csv("../data/raw/zomato_restaurants.csv")

In [71]:
df_restaurants.head()

,name,url,cuisine,price_for_two,area,distance
0,FML - Food Music Love,https://www.zomato.com/pune/fml-food-music-lov...,"North Indian, Oriental, Pizza, Continental, Ke...","₹1,900 for two","Magarpatta, Pune",7.8 km
1,Plink,https://www.zomato.com/pune/plink-yerawada/info,"Italian, Continental, Mughlai, Chinese, Salad,...","₹3,000 for two","Yerawada, Pune",5.7 km
2,Foo KOPA,https://www.zomato.com/pune/foo-kopa-mundhwa/info,"Asian, Sushi, Chinese, Desserts, Beverages","₹2,000 for two","Mundhwa, Pune",5.7 km
3,2BHK Diner & Key Club,https://www.zomato.com/pune/2bhk-diner-key-clu...,"North Indian, Mediterranean, European, Finger ...","₹3,000 for two","Bund Garden Road, Pune",2 km
4,Fountain House,https://www.zomato.com/pune/fountain-house-2-s...,"North Indian, Fast Food, Desserts, Beverages",₹950 for two,"Shivaji Nagar, Pune",3 km

In [72]:
df_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           501 non-null    object
 1   url            501 non-null    object
 2   cuisine        501 non-null    object
 3   price_for_two  501 non-null    object
 4   area           501 non-null    object
 5   distance       501 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB

In [73]:
if df_restaurants.isnull().values.any():
  # clean the data by dropping rows with any null values
  df_restaurants = df_restaurants.dropna()

In [74]:
df_restaurants.head()

,name,url,cuisine,price_for_two,area,distance
0,FML - Food Music Love,https://www.zomato.com/pune/fml-food-music-lov...,"North Indian, Oriental, Pizza, Continental, Ke...","₹1,900 for two","Magarpatta, Pune",7.8 km
1,Plink,https://www.zomato.com/pune/plink-yerawada/info,"Italian, Continental, Mughlai, Chinese, Salad,...","₹3,000 for two","Yerawada, Pune",5.7 km
2,Foo KOPA,https://www.zomato.com/pune/foo-kopa-mundhwa/info,"Asian, Sushi, Chinese, Desserts, Beverages","₹2,000 for two","Mundhwa, Pune",5.7 km
3,2BHK Diner & Key Club,https://www.zomato.com/pune/2bhk-diner-key-clu...,"North Indian, Mediterranean, European, Finger ...","₹3,000 for two","Bund Garden Road, Pune",2 km
4,Fountain House,https://www.zomato.com/pune/fountain-house-2-s...,"North Indian, Fast Food, Desserts, Beverages",₹950 for two,"Shivaji Nagar, Pune",3 km

In [75]:
df_restaurants['url'][0]

'https://www.zomato.com/pune/fml-food-music-love-magarpatta/info'

In [76]:
df_rest_review = pd.read_csv("../data/raw/zomato_reviews.csv")

df_rest_review

,restaurant_name,reviewer,rating,rating_type,review_text,date,extraction_method,driver_status
0,Feast - Sheraton Grand,Adhisa Ghosh,5,DINING,Great food and ambience. Really good quality a...,NaN,"div[class*=""fKvqMN""] (no rating found) + json-...",closed
1,Feast - Sheraton Grand,Darshil,5,DINING,One of the best Brunch spread in the town .Mus...,NaN,"div[class*=""fKvqMN""] (no rating found) + json-...",closed
2,Feast - Sheraton Grand,Dipali,4,DINING,This place never disappoints.<br/>The spread w...,NaN,"div[class*=""fKvqMN""] (no rating found) + json-...",closed
3,Feast - Sheraton Grand,Pallavi Mishra,1,DINING,"Visited this restaurant with my family, and un...",NaN,"div[class*=""fKvqMN""] (no rating found) + json-...",closed
4,Feast - Sheraton Grand,Krishnapriya K,5,DINING,Feast at Sheraton Grand definitely serves one ...,NaN,"div[class*=""fKvqMN""] (no rating found) + json-...",closed

In [77]:

df_rest_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant_name    5 non-null      object
 1   reviewer           5 non-null      object
 2   rating             5 non-null      int64
 3   rating_type        5 non-null      object
 4   review_text        5 non-null      object
 5   date               0 non-null      float64
 6   extraction_method  5 non-null      object
 7   driver_status      5 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 448.0+ bytes